.login-card{
    width: 50%;
}
#login-card-div{
    margin-top: 25%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}
#login-button{
    background-color: lightskyblue;
    border: 0;
    border-radius: 5%;
    font-size: 20px;
}